<left>
    <b> Số khách thăm web </a></b> <br> 
    <img src="https://hitwebcounter.com/counter/counter.php?page=15764519&style=0038&nbdigits=6&type=ip&initCount=0" title="To this page" Alt="web counter"   border="0" /></a>  <br>
    <b> Số người rình GitHub</a></b> <br> 
    <img src="https://hitwebcounter.com/counter/counter.php?page=15764586&style=0038&nbdigits=6&type=ip&initCount=0" title="To GitHub" Alt="web counter"   border="0"   />  <br>
    <b> Chủ Động: Long Kira</a></b> <br> 

</left>
<left>
    <br>
    <br>
        <b> Last Updated (Cập nhật lần cuối) </b> <br>
        <i><font color=orange>2024-08-22</font></i>
    </left>
    <left>
        <br>
        <br>
            <b> Liên hệ tôi </b> <br>
            <i> <a href="" style="color:orange"> longhg04515@gmail.com </a> <br>
            <i> <a href="https://github.com/kirazero17"  style="color:orange">kirazero17@github </a> <br>
        </i>
        </left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
